.navbar {
  padding: 1rem;
  background: var(--dark-purple);

  &--items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    gap: 2rem;

    &--menu-toggle {
      display: none;

      @media screen and (max-width: 768px) {
        display: block;
        font-size: 2rem;
        background: none;
        border: none;
        color: #fff;
        cursor: pointer;
      }
    }

    &--pc-options {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      font-size: 1.1rem;
      font-weight: bold;

      a {
        color: white;
        transition: all 500ms;
      }

      a:hover {
        transform: scale(1.1);
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    &--mob-options {
      display: none;

      &--open {}
    }
  }
}

.nav-open {
  width: 60vw;
  height: 50vh;
  background: var(--dark-purple);
  z-index: 3;
  position: absolute;
  left: 0;
  border: 0.1rem solid #555555;
  border-left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  border-radius: 0 0 2rem 0;

  &--items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    font-size: 1.6rem;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
}

.nav-open.nav-closed {
  transform: translateX(0);
}
