<div class="navbar">
  <div class="navbar--items">
    <button class="navbar--items--menu-toggle" (click)="toggleNavbar()">☰</button>
    <h1>Vinícius Martins Granso</h1>
    <div class="navbar--items--pc-options">
      <ng-container *ngFor="let item of navbarList">
        <a [href]="item.link" (click)="closeNavbar()">{{ item.name | translate }}</a>
      </ng-container>
      <a href="assets/docs/Curriculo-Vinicius-Martins.pdf" download>{{ 'CURRICULUM' | translate }}</a>
      <select class="navbar--items--pc-options--translate"
              [(ngModel)]="selectedLanguage"
              (ngModelChange)="onChangeLanguage($event)"
              name="language"
              id="language-select">
        <option value="en">English</option>
        <option value="pt">Português</option>
        <option value="es">Español</option>
      </select>
    </div>
  </div>
</div>

<div class="nav-open" [class.nav-closed]="isNavbarOpen">
  <div class="nav-open--items">
    <ng-container *ngFor="let item of navbarList">
      <a [href]="item.link" (click)="closeNavbar()">{{ item.name | translate }}</a>
    </ng-container>
    <select class="navbar--items--pc-options--translate"
            [(ngModel)]="selectedLanguage"
            (ngModelChange)="onChangeLanguage($event)"
            name="language"
            id="language-select-mobile">
      <option value="en">English</option>
      <option value="pt">Português</option>
      <option value="es">Español</option>
    </select>
    <a href="assets/docs/Curriculo-Vinicius-Martins.pdf" download>{{ 'CURRICULUM' | translate }}</a>
<!--    <a (click)="downloadCurriculum()">{{ 'CURRICULUM' | translate }}</a>-->
  </div>
</div>
