<div class="navbar">
  <div class="navbar--items">
    <button class="navbar--items--menu-toggle" (click)="toggleNavbar()">☰</button>
    <h1>Vinícius Martins</h1>
    <div class="navbar--items--pc-options">
      <ng-container *ngFor="let item of navbarList">
        <a [href]="item.link" (click)="closeNavbar()">{{ item.name }}</a>
      </ng-container>
      <a href="assets/docs/Curriculo-Vinicius-Martins.pdf" download>Currículo</a>
    </div>
  </div>
</div>

<div class="nav-open" [class.nav-closed]="isNavbarOpen">
  <div class="nav-open--items">
    <ng-container *ngFor="let item of navbarList">
      <a [href]="item.link" (click)="closeNavbar()">{{ item.name }}</a>
    </ng-container>
    <a href="assets/docs/Curriculo-Vinicius-Martins.pdf" download>Currículo</a>
  </div>
</div>
