<div class="home">
  <button (click)="topFunction()" id="toTopBtn" class="redirect-to-top">
    <img src="assets/images/arrow-up.svg" alt="Para o topo">
  </button>

  <div class="home--about-me" id="about">
    <h1>Sobre mim!</h1>
    <div class="home--about-me--info">
      <div class="home--about-me--info--technologies">
        <ng-container *ngFor="let tec of technologies">
          <img [src]="tec">
        </ng-container>
      </div>
      <div class="home--about-me--info--description">
        <img src="assets/images/eu.jpeg">
        <label>
          {{ bio }} Onde se pode encontrar os <a (click)="redirectTo('personal')">projetos pessoais</a> e
          <a (click)="redirectTo('job')">projetos profissionais</a>.
        </label>
      </div>
    </div>

    <a (click)="openProfileModal()">
      <img class="home--about-me--profile-modal" src="assets/images/degrees.svg"/>
    </a>
  </div>

  <div class="home--personal" id="personal">
    <h1 class="home--personal--title">Projetos pessoais!</h1>
    <ng-container *ngFor="let prj of projects">
      <div class="home--personal--info">
        <img [src]="prj.image" alt="">

        <a [href]="prj.link" target="_blank">
          <h1>{{ prj.name }}</h1>
        </a>
        <p>{{ prj.description }}</p>
      </div>
    </ng-container>
  </div>

  <div class="home--job" id="job">
    <h1 class="home--job--title">Projetos profissionais</h1>
    <div class="home--job--titles">
      <ng-container *ngFor="let project of projects">
        <a class="home--job--titles--project" [href]="project.link" target="_blank">
          {{ project.name }}
          <img [src]="project.image" alt="">
        </a>
      </ng-container>
    </div>
  </div>
</div>
