/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  scroll-behavior: smooth;
  color: white;
}

:root {
  --dark-purple: #150885;
  --darkest-purple: rgb(12 0 83);
  --grey-purple: rgba(49, 47, 47, 0.28);
}

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
